<a href="https://colab.research.google.com/github/RaTon84/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 2
Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [ ]:
import pandas as pd
import numpy as np

notasDelosAlumnos = {
    "Ana": 7.5,
    "Juana": 4.5,
    "Hernan": 8.5,
    "Juan": 9.0,
    "Carlos": 6.5
    }

def serieNotas(dicc)-> pd.Series:
  pandaNotas = pd.Series(notasDelosAlumnos)

  response = pd.Series({"Maxima: ":max(pandaNotas.values),
                        "Minima: ": min(pandaNotas.values),
                        "Promedio: ": sum(pandaNotas.values) / pandaNotas.size,
                        "Desviacion: ": np.std(pandaNotas.values)
                        },
                       name = "Ejercicio2")
  return response

# print(pd.Series(notasDelosAlumnos),"\n")
serieNotas(notasDelosAlumnos)


# no me funciono #
#  response = pd.Series({"Maxima: ":max(dicc.values()),
#                         "Minima: ": min(dicc.values()),
#                         "Promedio: ": sum(dicc.values()) / len(dicc),
#                         "Desviacion: ": np.std(dicc.values())   ### con diccionarios no funciona
#                         },
#                        name = "Ejercicio2")
#   return response
#
# print(pandaNotas)
  # print(pandaNotas.index) # retorna la key del diccionario

  # print(pandaNotas.values) # retorna los valores

  # print(pandaNotas.size)
  # print("Nota Maxima: ", max(pandaNotas.values))
  # print("Nota Minima: ", min(pandaNotas.values))
  # print("Nota Promedio: ", sum(pandaNotas) / pandaNotas.size)
  # print("La desviacion tipica: ", np.std(pandaNotas.values))

Maxima:         9.0
Minima:         4.5
Promedio:       7.2
Desviacion:     1.6
Name: Ejercicio2, dtype: float64

# Ejercicio 3
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [ ]:
import pandas as pd
import numpy as np

notas = {
    "Ana": 7.5,
    "Juana": 4.5,
    "Hernan": 8.5,
    "Juan": 9.0,
    "Carlos": 6.5
    }

def aprobados(dicc)-> pd.Series:
  aprobacion = 7
  pdNotas = pd.Series(notas)
  response = pd.Series(pandaNotas[pandaNotas>aprobacion], name= "Aprobados")
  return response.sort_values(ascending=False)

aprobados(notas)

Juan      9.0
Hernan    8.5
Ana       7.5
Name: Aprobados, dtype: float64

#Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [ ]:
# Mes	Ventas	Gastos
# Enero	30500	22000
# Febrero	35600	23400
# Marzo	28300	18100
# Abril	33900	20700

import pandas as pd

def generarDataFrame()-> pd.DataFrame:
  datos = {
      # "Mes": ["Enero", "Febrero", "Marzo", "Abril"],
      "Ventas": [30500, 35600, 28300, 33900],
      "Gastos": [22000, 23400, 18100, 20700]
  }
  dtDatos = pd.DataFrame(datos)
  dtDatos.index = ["Enero", "Febrero", "Marzo", "Abril"]
  return dtDatos

generarDataFrame()

         Ventas  Gastos
Enero     30500   22000
Febrero   35600   23400
Marzo     28300   18100
Abril     33900   20700

#Ejercicio 5
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [ ]:
meses = ["Enero", "Marzo"]

def balance(df, meses)-> pd.DataFrame:
  df["Balance"] = df["Ventas"] - df["Gastos"]   # genero una nueva columna en el df
  filtroMeses = df.loc[meses]  # filtro los meses que entran
  df_filtrado = filtroMeses["Balance"] # muestro solo la columna que quiero mostrar
  return df_filtrado

def balanceRefactor(df, meses)-> pd.DataFrame:
  df["Balance"] = df["Ventas"] - df["Gastos"]
  return df.loc[meses]["Balance"]

datos = generarDataFrame()
# balance(datos, meses)
balanceRefactor(datos, meses)

Enero     8500
Marzo    10200
Name: Balance, dtype: int64

#Ejercicio 6
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas:

nombre (nombre de la empresa),

Final (precio de la acción al cierre de bolsa),

Máximo (precio máximo de la acción durante la jornada),

Mínimo (precio mínimo de la acción durante la jornada),

volumen (Volumen al cierre de bolsa),

Efectivo (capitalización al cierre en miles de euros).

Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [36]:
import pandas as pd

def construirDFdeCSV(csv)-> pd.DataFrame:
  df = pd.read_csv(csv, sep=";", decimal=',',thousands='.', index_col=0)
  return df

def estadisticas(df)-> pd.DataFrame:
  response = pd.DataFrame([df.min(), df.max(), df.mean()], ["Minimo", "Maximo", "Media"])
  df.describe()
  return response

df_csv = construirDFdeCSV("cotizacion.csv")
print(df_csv)

                   Final      Máximo      Mínimo   Volumen   Efectivo
Nombre
ACCIONA          95.9500     96.7500     94.4000     84962    8166.11
ACERINOX       8668.0000   8672.0000   8468.0000     88599    7633.81
ACS              37.2800     37.6600     37.2200    655982   24517.29
AENA            167.1000    167.5000    166.1000    133738   22336.10
AMADEUS          69.9600     70.6400     69.5600    640476   44795.47
ARCELORMIT.   14152.0000  14318.0000     14.0800    702841    9989.65
BA.SABADELL       1.0165   1033.0000      1.0165  12358512   12637.65
BA.SANTANDER      4.0200      4.0675      4.0100  36129692  145765.44
BANKIA         2249.0000   2262.0000   2224.0000   3024454    6803.54
BANKINTER         6.5600   6604.0000   6522.0000   1375976    9030.20
BBVA           5024.0000      5.0500   4969.0000  26447612  132560.15
CAIXABANK      2763.0000   2806.0000   2762.0000  13031097   36239.22
CELLNEX          30.1700     30.7000     30.1700    857237   25965.29
CIE AUTOMOT.     23.4400     23.7400     23.4000     99506    2343.09
ENAGAS           25.6000     25.6600     25.0700     84254   21524.77
ENCE           3882.0000   3974.0000   3846.0000   2099698    8219.83
ENDESA           22.9500     23.0300     22.6200   1236799   28233.46
FERROVIAL        21.6100     21.7200     21.3800   2065931   44656.05
GRIFOLS CL.A     23.3000     23.6000     23.2700    719503   16787.55
IAG               5.3000      5.4600   5292.0000   2155081   11561.95
IBERDROLA         8.4500      8.4500   8262.0000  15637958  131426.05
INDITEX          24.9300     25.1900     24.8700   2600144   65012.92
INDRA A           9.5600   9685.0000   9535.0000     39206    3755.57
INM.COLONIAL   9915.0000   9915.0000   9745.0000    671753    6640.38
MAPFRE         2654.0000   2654.0000      2.6200   3045972    8063.13
MEDIASET       6446.0000   6592.0000   6446.0000   2647557   17277.04
MELIA HOTELS      8.1400      8.1900      8.0200     48021    3914.93
MERLIN           12.0800     12.0800     11.8300    777543    9357.77
NATURGY          26.7000     26.7700     26.5300   2100737   55986.54
R.E.C.        19705.0000  19875.0000  19675.0000   1246171   24585.33
REPSOL        14515.0000  14605.0000     14.4600   5046648   73333.78
SIEMENS GAME     14.3300     14.3900  14155.0000   1054847   15084.56
TEC.REUNIDAS     23.0000     23.2000     22.7800      1221    2807.19
TELEFONICA     7204.0000   7256.0000   7185.0000   9913249   71564.99
VISCOFAN         48.4600     49.1200     48.4600      6771    3295.43

In [49]:
print(df_csv.describe())
estadisticas(df_csv)
# df_csv.info()

              Final        Máximo        Mínimo       Volumen       Efectivo
count     35.000000     35.000000     35.000000  3.500000e+01      35.000000
mean    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778000
std     5007.267143   5160.834249   4804.485259  7.901060e+06   38100.607064
min        1.016500      4.067500      1.016500  1.221000e+03    2343.090000
25%       17.970000     23.115000     22.700000  3.871070e+05    8114.620000
50%       30.170000     49.120000     48.460000  1.236799e+06   16787.550000
75%     3322.500000   5283.000000   5869.000000  2.836006e+06   40447.635000
max    19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440000

               Final        Máximo        Mínimo       Volumen    Efectivo
Minimo      1.016500      4.067500      1.016500  1.221000e+03    2343.090
Maximo  19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Media    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778

#Ejercicio 7
El fichero titanic.csv contiene información sobre los pasajeros del Titanic.

Escribir un programa con los siguientes requisitos:

- Generar un DataFrame con los datos del fichero.

- Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas

- Mostrar por pantalla los datos del pasajero con identificador 148.

- Mostrar por pantalla las filas pares del DataFrame.

- Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

- Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.

- Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.

- Eliminar del DataFrame los pasajeros con edad desconocida.

- Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

- Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

- Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [153]:
def construirDf_csv(csv)-> pd.DataFrame:
  df = pd.read_csv(csv, sep=",", thousands=".", index_col=0, header=0)
  return df

df = construirDf_csv("titanic.csv")
# df

Muertos    61.61616161616162
Vivos              38.383838
Name: Porcentaje, dtype: object

In [ ]:
#Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
print("Dimensiones de df: ", df.shape,"\n")
print("Numero de datos: ", df.size,"\n")
print("Nombres de columnas: ", df.columns.values.tolist(),"\n")
print("Nombres de filas: ", df.index.name,"\n")
print("Tipos de datos: ", df.dtypes.values.tolist(),"\n")
print("Primeras 10 filas: \n", df.head(10).to_string(),"\n")
print("Ultimas 10 filas: ", df.tail(10).to_string())

In [ ]:
# Mostrar por pantalla los datos del pasajero con identificador 148.
# print(df.loc[148].to_string())
df.loc[148]

In [ ]:
#Mostrar por pantalla las filas pares del DataFrame.
# print(df.iloc[1::2].to_string())
df.iloc[1::2]

In [ ]:
# Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
# df[df["Pclass"] == 1]["Name"].sort_values()
df["Name"][df["Pclass"]==1].sort_values()

In [ ]:
#Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.

total= df.shape[0]
cantidadMuertos = sum(df["Survived"]==0)
cantidadVivos = sum(df["Survived"]==1)
# df["porcentaje Muertos: "] =  (cantidad*100/total)
# pd.Series([(cantidadMuertos*100/total), (cantidadVivos*100/total)], ["Muertos","Vivos"], name="Porcentaje")

pd.Series([str(sum(df["Survived"]==0)*100/df.shape[0]),(sum(df["Survived"]==1)*100/df.shape[0])], ["Muertos","Vivos"], name="Porcentaje")
# round(3.14159, 2)

#Ejercicio 8
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente.

Escribir un programa con los siguientes requisitos:

- Generar un DataFrame con los datos de los cuatro ficheros.
- Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.
- Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.
- Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
- Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.
- Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
- Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
- Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
- Mostrar un resumen descriptivo para cada contaminante por distritos.
- Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estación indicada.
- Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.
- Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

# ver Pivot Table