<a href="https://colab.research.google.com/github/RaTon84/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 2
Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [35]:
import pandas as pd
import numpy as np

notasDelosAlumnos = {
    "Ana": 7.5,
    "Juana": 4.5,
    "Hernan": 8.5,
    "Juan": 9.0,
    "Carlos": 6.5
    }

def serieNotas(dicc)-> pd.Series:
  pandaNotas = pd.Series(notasDelosAlumnos)

  response = pd.Series({"Maxima: ":max(pandaNotas.values),
                        "Minima: ": min(pandaNotas.values),
                        "Promedio: ": sum(pandaNotas.values) / pandaNotas.size,
                        "Desviacion: ": np.std(pandaNotas.values)
                        },
                       name = "Ejercicio2")
  return response

# print(pd.Series(notasDelosAlumnos),"\n")
serieNotas(notasDelosAlumnos)


# no me funciono #
#  response = pd.Series({"Maxima: ":max(dicc.values()),
#                         "Minima: ": min(dicc.values()),
#                         "Promedio: ": sum(dicc.values()) / len(dicc),
#                         "Desviacion: ": np.std(dicc.values())   ### con diccionarios no funciona
#                         },
#                        name = "Ejercicio2")
#   return response
#
# print(pandaNotas)
  # print(pandaNotas.index) # retorna la key del diccionario

  # print(pandaNotas.values) # retorna los valores

  # print(pandaNotas.size)
  # print("Nota Maxima: ", max(pandaNotas.values))
  # print("Nota Minima: ", min(pandaNotas.values))
  # print("Nota Promedio: ", sum(pandaNotas) / pandaNotas.size)
  # print("La desviacion tipica: ", np.std(pandaNotas.values))

Maxima:         9.0
Minima:         4.5
Promedio:       7.2
Desviacion:     1.6
Name: Ejercicio2, dtype: float64

# Ejercicio 3
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [ ]:
import pandas as pd
import numpy as np

notas = {
    "Ana": 7.5,
    "Juana": 4.5,
    "Hernan": 8.5,
    "Juan": 9.0,
    "Carlos": 6.5
    }

def aprobados(dicc)-> pd.Series:
  aprobacion = 7
  pdNotas = pd.Series(notas)
  response = pd.Series(pandaNotas[pandaNotas>aprobacion], name= "Aprobados")
  return response.sort_values(ascending=False)

aprobados(notas)

Juan      9.0
Hernan    8.5
Ana       7.5
Name: Aprobados, dtype: float64

#Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [26]:
# Mes	Ventas	Gastos
# Enero	30500	22000
# Febrero	35600	23400
# Marzo	28300	18100
# Abril	33900	20700

import pandas as pd

def generarDataFrame()-> pd.DataFrame:
  datos = {
      # "Mes": ["Enero", "Febrero", "Marzo", "Abril"],
      "Ventas": [30500, 35600, 28300, 33900],
      "Gastos": [22000, 23400, 18100, 20700]
  }
  dtDatos = pd.DataFrame(datos)
  dtDatos.index = ["Enero", "Febrero", "Marzo", "Abril"]
  return dtDatos

generarDataFrame()

         Ventas  Gastos
Enero     30500   22000
Febrero   35600   23400
Marzo     28300   18100
Abril     33900   20700

#Ejercicio 5
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [38]:
meses = ["Enero", "Marzo"]

def balance(df, meses)-> pd.DataFrame:
  df["Balance"] = df["Ventas"] - df["Gastos"]   # genero una nueva columna en el df
  filtroMeses = df.loc[meses]  # filtro los meses que entran
  df_filtrado = filtroMeses["Balance"] # muestro solo la columna que quiero mostrar
  return df_filtrado

def balanceRefactor(df, meses)-> pd.DataFrame:
  df["Balance"] = df["Ventas"] - df["Gastos"]
  return df.loc[meses]["Balance"]

datos = generarDataFrame()
# balance(datos, meses)
balanceRefactor(datos, meses)

Enero     8500
Marzo    10200
Name: Balance, dtype: int64

#Ejercicio 6
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas:

nombre (nombre de la empresa),

Final (precio de la acción al cierre de bolsa),

Máximo (precio máximo de la acción durante la jornada),

Mínimo (precio mínimo de la acción durante la jornada),

volumen (Volumen al cierre de bolsa),

Efectivo (capitalización al cierre en miles de euros).

Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [36]:
import pandas as pd

# Crear un DataFrame con datos de ejemplo
data = {
    'nombre': ['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D', 'Empresa E'],
    'Final': [50.5, 75.2, 100.1, 60.3, 80.0],
    'Máximo': [52.0, 80.0, 105.0, 65.0, 85.0],
    'Mínimo': [48.0, 70.0, 95.0, 58.0, 78.0],
    'volumen': [10000, 15000, 20000, 12000, 18000],
    'Efectivo': [500000, 1000000, 2000000, 700000, 1440000]
}

df = pd.DataFrame(data)

# Guardar el DataFrame como un archivo CSV
df.to_csv('cotizacion.csv', index=False)

print("Archivo cotizacion.csv creado con éxito.")

Archivo cotizacion.csv creado con éxito.

In [51]:
def construirDFdeCSV(csv)-> pd.DataFrame:
  df = pd.read_csv(csv)
  df_min = df.min()
  df_max = df.max()
  # df_mean = df.mean()
  return df

dataCsv = construirDFdeCSV("cotizacion.csv")
print(dataCsv)

      nombre  Final  Máximo  Mínimo  volumen  Efectivo
0  Empresa A   50.5    52.0    48.0    10000    500000
1  Empresa B   75.2    80.0    70.0    15000   1000000
2  Empresa C  100.1   105.0    95.0    20000   2000000
3  Empresa D   60.3    65.0    58.0    12000    700000
4  Empresa E   80.0    85.0    78.0    18000   1440000