<a href="https://colab.research.google.com/github/RaTon84/Pandas/blob/main/Pedidos_sql_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [123]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Practicas_pedidos/1000-Registros-de-ventas.xlsx")
df.columns
df["Fecha pedido"]
# df.dtypes
df.columns

Index(['ID Cliente', 'Zona', 'País', 'Tipo de producto', 'Canal de venta',
       'Prioridad', 'Fecha pedido', 'ID Pedido', 'Fecha envío', 'Unidades',
       'Precio Unitario', 'Coste unitario', 'Importe venta total',
       'Importe Coste total'],
      dtype='object')

# Normalizar nombres de las columnas

In [124]:
def namesColumns(dataFrame):
  df.columns = df.columns.str.replace(' ', '_')
  df.columns = df.columns.str.lower()
  # ver si hay alguna otra funcion para el "unicode"
  input = "á,é,í,ó,ú,Á,É,Í,Ó,Ú"
  output = "a,e,i,o,u,A,E,I,O,U"
  trans = str.maketrans(input, output)
  df.columns = df.columns.str.translate(trans)

namesColumns(df)
df.columns

Index(['id_cliente', 'zona', 'pais', 'tipo_de_producto', 'canal_de_venta',
       'prioridad', 'fecha_pedido', 'id_pedido', 'fecha_envio', 'unidades',
       'precio_unitario', 'coste_unitario', 'importe_venta_total',
       'importe_coste_total'],
      dtype='object')

# PostgreSQL

config para utilizar postgress o "cualquier DBB" desde colab

In [126]:
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
# !sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD '1234';"
# !sudo -u postgres psql -c "CREATE DATABASE ventas;"

Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
49 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
 * Starting PostgreSQL 14 database server
   ...done.
ERROR:  database "ventas" already exists

In [128]:
import psycopg2

# # Conectar al servidor PostgreSQL (base de datos postgres por defecto)
def conection(database, user, password, host, port):
  try:
    conn = psycopg2.connect(
      dbname=database,
      user=user,
      password=password,
      host=host,
      port=port
    )
    print("Conexión exitosa")
    return conn
  except Exception as e:
    print(e)

conn = conection("ventas","root","1234","localhost","5432")

# Crear un cursor para ejecutar comandos SQL
conn.autocommit = True
cursor = conn.cursor()

Conexión exitosa

In [130]:
conexion = conection("ventas","root","1234","localhost","5432")
def tabla_existe(conexion, nombre_tabla):
    cursor = conexion.cursor()
    cursor.execute("""
        SELECT EXISTS (
            SELECT 1
            FROM information_schema.tables
            WHERE table_schema = 'public'
            AND table_name = %s
        );
    """, (nombre_tabla,))

    existe = cursor.fetchone()[0]
    cursor.close()
    return existe

# Verificar si la tabla existe
tabla = 'ventas'
if tabla_existe(conexion, tabla):
    print(f"La tabla '{tabla}' existe.")
else:
    print(f"La tabla '{tabla}' no existe.")
conexion.close()
print("conexion cerrada")

Conexión exitosa
La tabla 'ventas' no existe.
conexion cerrada

In [133]:
df.columns

Index(['id_cliente', 'zona', 'pais', 'tipo_de_producto', 'canal_de_venta',
       'prioridad', 'fecha_pedido', 'id_pedido', 'fecha_envio', 'unidades',
       'precio_unitario', 'coste_unitario', 'importe_venta_total',
       'importe_coste_total'],
      dtype='object')

In [159]:
from sqlalchemy import create_engine, text

engine = create_engine(f"postgresql+psycopg2://root:1234@localhost:5432/pedidos")
#enviar datos a postgress
# df.to_sql("ventas",engine, if_exists="replace",index=False)

# Realizar una consulta
with engine.connect() as conn:
    # resultado = conn.execute(text("SELECT count(ventas) FROM ventas where zona = 'Asia';"))
    resultado = conn.execute(text("SELECT count(ventas) FROM ventas where zona = 'Asia';"))
    for fila in resultado:
        print(fila)

(162,)